<div class="container padded">
  <div class="row">
    <% if @groups.empty? %>
      <div class="col-xs-12 text-center">
        <%= link_to "Create your first group!", new_group_path, class: "btn btn-primary" %>
      </div>
    <% else %>
      <div class="col-xs-12">
        <h2>Your groups</h2>
      </div>
      <% @groups.each do |group| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to group_path(group) do %>
            <div class="group-card" style="background-color: <%= group.colour %>; color: <%= 'black' if group.colour == 'rgb(255, 255, 255)'%>">
              <div class="group-card-content">
                <p><%= group.name %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to new_group_path do %>
          <div class="group-card new-group">
            <div class="group-card-content">
              <p><i class="fa fa-plus-circle"></i> Create a new group</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Your friends</h2>

      <% @friends.each do |friend| %>
        <p><%= link_to friend.full_name, user_profile_path(friend) %></p>
      <% end %>
      <br>
      <%= link_to "Find friends", friendships_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
