<div class="container padded">
  <div class="row">
    <% if @groups.empty? %>
      <div class="col-xs-12 text-center">
        <%= link_to "Create your first group!", new_group_path, class: "btn btn-primary" %>
      </div>
    <% else %>
      <% @groups.each do |group| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="group-card" style="background-color: <%= group.colour %>;">
            <%= link_to group_path(group) do %>
              <div class="group-card-content">
                <p><%= group.name %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="group-card new-group">
          <%= link_to new_group_path do %>
            <div class="group-card-content">
              <p><i class="fa fa-plus-circle"></i> Create a new group</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
