<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="devise-form">
        <h2 class="text-center">Create a new group</h2>
        <br>
        <%= simple_form_for @group do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, label: "Enter your group name:", placeholder: "Awesome group name", input_html: { maxlength: 26 } %>
          <%= f.input :colour, as: :hidden %>
          <div class="form-label">
            Pick a colour for your group:
          </div>

          <div class="colour-picker">
            <% @colours.each do |colour| %>
              <div class="colour-picker-btn" style="background-color: <%= colour %>;"></div>
            <% end %>
          </div>
          <%= f.button :submit, class: "btn btn-primary wide-btn " %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {

    const addColourSelect = (event) => {
      // Remove any current active classes
      document.querySelectorAll(".colour-picker-btn").forEach((btn) => {
        btn.classList.remove("active");
      });
      // Add active class to current colour selection
      event.currentTarget.classList.add("active");

      // Retrive the rgb colour and enter it in the form
      var colour = event.currentTarget.style.backgroundColor;
      document.querySelector("#group_colour").value = colour;
    };

    // Add event listner to all colour picker buttons
    document.querySelectorAll(".colour-picker-btn").forEach((btn) => {
      btn.addEventListener("click", addColourSelect);
    });
});
</script>
