<div class="container">
  <div class="group-navigation">
    <%= link_to groups_path do %>
      <p style="padding-top: 10px;"><i class="fa fa-arrow-circle-left"></i> Back to your groups</p>
    <% end %>
    <%= render 'group_admin_options' %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center"><%= @group.name %></h2>
      <div class="group-stats">
        <% @group_statistics.each do |title, value| %>
          <div class="group-stat">
            <div class="stat-figure"><%= value %></div>
            <div class="stat-title"><%= title %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= render 'groups/group_members', group: @group, members: @members %>
    </div>
    <div class="col-xs-12 col-md-6">
      <h4 id="messages-panel-header">Messages</h4>
        <div id="messages-panel">
          <form action="/groups/<%= @group.id %>/messages" method="get" data-remote="true" id="load-old-messages-form">
            <input id="pagination_counter" type="text" name="page" value="2" class="hidden">
          </form>
          <div id="message-load-icon"><i class="fas fa-spin fa-sync-alt"></i></div>
          <div id="messages">
            <% @messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
        </div>
      <br>
      <div id="create-message">
        <%= simple_form_for [@group, Message.new], remote: true do |f| %>
          <%= f.input :content, label: false %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'add_new_member_modal', group: @group, group_member: @group_member %>

<% content_for :after_js do %>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      scrollLastMessageIntoView();

      App['group_<%= @group.id %>'] = App.cable.subscriptions.create(
        { channel: 'GroupsChannel', group_id: <%= @group.id %> },
        { received: (data) => {
            if (data.current_user_id !== <%= current_user.id %>) {
              const messagesContainer = document.querySelector('#messages');
              messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
              scrollLastMessageIntoView();
            }
          }
        }
      )
    });

  </script>
<% end %>
<!-- <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {

    const revealBtns = (event) => {
      document.querySelectorAll('.remove-members').forEach((member) => {
        member.classList.toggle("hidden");
      });
    };

    const btn = document.querySelector("#removeAMemberBtn");

    btn.addEventListener("click", revealBtns);
  });

  document.addEventListener("DOMContentLoaded", () => {

    // Scroll messages panel to the bottom on page load
    var messagesPanel = document.getElementById('messages-panel');
    scrollToBottom();

    // Scroll messages to bottom on new message
    // var observer = new MutationObserver(scrollToBottom);
    // var messages = document.getElementById('messages');
    // const config = { childList: true };

    // observer.observe(messages, config);

    function scrollToBottom() {
      messagesPanel.scrollTop = messagesPanel.scrollHeight;
    }
  });

  document.addEventListener("DOMContentLoaded", () => {
    var messagesPanel = document.getElementById('messages-panel');
    var messageTitle = document.getElementById('messages-panel-header');
    var loadIcon = document.getElementById('message-load-icon');

    messagesPanel.addEventListener('scroll', () => {
      if (loadIconInView(messageTitle, loadIcon)) {
        // Load old messages
        var form = document.getElementById('load-old-messages-form');
        Rails.fire(form, 'submit');
      }
    })

    var loadIconInView = (messageTitle, loadIcon) => {
      var diff = loadIcon.getBoundingClientRect().y - messageTitle.getBoundingClientRect().y
      if (diff > 62 ) {
        return true
      } else {
        return false
      }
    }

    // messagesPanel.addEventListener('scroll', getOldMessages());
  });
</script> -->

